.header {
  width: 100%;
  height: 6rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: white;
  letter-spacing: .07rem;
  z-index: 1;
  box-shadow: 0 1px 10px #888;

  &Logo {
    font-family: Scada;
    cursor: pointer;
    font-size: 2.2rem;
  }

  &Logo:hover {
    color: rgba(134, 137, 202, 0.5);
    transition: 200ms;
  }

  &Menu, &MenuHide {
    font-family: Oswald;
    display: flex;
    justify-content: space-between;
    width: 500px;
    text-transform: uppercase;

    span {
      cursor: pointer;
    }
    span:hover {
      color: rgba(156, 159, 230, 0.84);
      transition: 200ms;
    }
  }

  &LabelTextDecoration {
    color: rgba(156, 159, 230, 0.84);
    transition: 200ms;
  }

  &MenuIcon {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    &Menu, &MenuHide {
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 6rem;
      width: 320px;
      height: 100vh;
      background: #005;
      z-index: 999;
      justify-content: flex-start;
      padding-top: 3rem;
      transition: 500ms;

      span {
        padding: 16px 30px;
        font-weight: 500;
        color: #fff;
        letter-spacing: .15rem;
      }
    }

    &MenuHide {
      left: -350px;
    }

    &MenuIcon {
      cursor: pointer;
      display: flex;
      margin-top: 6px;

      i {
        font-size: 2rem;
      }
    }

    &LabelTextDecoration {
      background-color: #898fd6;
    }
  }
}

@media (max-width: 600px) {
  .header {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .header {
    &Logo {
      font-size: 1.7rem;
    }
  }
}