.footer {
  width: 100%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  background: #005;
  letter-spacing: 2px;

  &Title {
    width: 100%;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
    border-bottom: .05rem solid white;
  }

  &Contacts {
    margin-top: 3rem;

    h3 {
      margin-top: 16px;
    }
  }
}